body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(black, white, black);
}

h1{
    color: white;
    text-shadow: 2px 2px black;
}

body>div:nth-child(2){
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 60%;
    width: 50%;
    background-color: rgb(0, 0, 0);
    border: 4px solid black;
}

.blocos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 30%;
    background-color: lightgray;
    border: 2px solid white;
    color: white;
    font-size: 40pt;
    font-family: "comic sans ms", sans-serif;
    animation: coresDoBloco 2s linear infinite;
    cursor: pointer;
}

body>div:nth-child(3){
    margin: 0;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: coresDeFimDeJogo 2s linear infinite;
    height: 10%;
    width: 50%;
    color: white;
    border: 4px solid black;
    font-family: "comic sans ms", sans-serif;
}

body>div:nth-child(4){
    margin: 0;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: coresDeFimDeJogo 2s linear infinite;
    height: 10%;
    width: 50%;
    color: white;
    border: 4px solid black;
    font-family: "comic sans ms", sans-serif;
    cursor: pointer;
}

@keyframes coresDeFimDeJogo{
    0%{
        background-color: black;
    }
    25%{
        background-color: darkblue;
    }
    50%{
        background-color: darkred;
    }
    75%{
        background-color: darkgreen;
    }
    100%{
        background-color: black;
    }
}

@keyframes coresDoBloco{
    0%{
        background-color: black;
    }
    50%{
        background-color: white;
    }
    100%{
        background-color: black;
    }
}